@import './variables.less';

// reuse css
.flex {
  display: flex;
}

.item-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-1 {
  flex: 1;
}

.width-full {
  width: 100%;
}

.relative {
  position: relative;
}

.max-height {
  height: 100vh;
}

.mr-5 {
  margin-right: 5px;
}

.ml-5 {
  margin-left: 5px;
}


.mt-32 {
  margin-top: 32px;
}

.mt-86 {
  margin-top: 86px;
}

.mr-12 {
  margin-right: 12px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-52 {
  margin-bottom: 52px;
}

.pointer {
  cursor: pointer;
}

.link {
  color: @state-info;
  transition: all 0.3s ease;
  cursor: pointer;
  margin: 0;

  &:hover {
    text-decoration: underline;
  }
}

// main layout
.main-layout {
  display: flex !important;
  flex-direction: row !important;

  .logo-view {
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
  }
}

.header-main-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  border-bottom: 1px solid;
  position: relative;
  padding: 0 30px;
  padding-left: 0px;

  .welcome-text {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }

  .avatar-profile {
    display: flex;
    align-items: center;
  }
}

.auth-layout {
  background: @grey6;
}

.header-auth-layout {
  display: flex;
  align-items: center;
  height: 68px;
  justify-content: space-between;
  padding: 22px 50px;
  background: @secondary-color;

  .header-auth-title {
    color: white;
    font-size: 16px;
    margin: 0;
  }

  .header-auth-action {
    display: flex;
    align-items: center;
  }
}

// widget
.fixed-widget {
  position: fixed;
  right: 0;
  bottom: 102px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  // border: 1px solid;
  border-right: 0;
  padding: 10px 15px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  background-color: @primary-color;
  background-image: linear-gradient(90deg, @primary-color 0%, #80d0c7 100%);
}

.sign-in-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-in-page {
  width: 423px;
  margin: 0 auto;
  padding: 24px 40px;
  border-radius: 16px;
  border-radius: 16px;
  margin-top: 15%;

  .sign-in-page-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: @secondary-color;
    text-align: center;
  }

  .sign-in-page-action-forgot {
    display: flex;
    align-items: center;

    .link-custom {
      margin-left: 5px;
    }
  }

  .sign-in-page-submit {
    width: 100%;
    margin-top: 16px;
  }
}

.header-container-layout {
  .ant-card-body {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
}

.icon-edit {
  font-size: 20px;
  color: @yellowColor !important;
}

.icon-delete {
  font-size: 20px;
  color: @redColor !important;
}

// custom theme
.dark-theme-custom {
  background: @secondary-color;
}

.light-theme-custom {
  background: @white;
}

.dark-border {
  border: 1px solid @secondary-color;
}

.dark-shadow {
  box-shadow: @shadow1Dark;
}

.light-border {
  border: 1px solid @grey6;
}

.light-shadow {
  box-shadow: @shadow1;
}

.ant-btn-primary-default {
  background: none !important;
  color: unset !important;
}
