@primary-color: #ae18ff;
@layout-header-background: #fff;
@border-radius-base: 3px;
@secondary-color: #202225;
@grey6: #F6F6F6;
@white: #FFFFFF;
@state-info: #2F80ED;
@shadow1: 0px 5px 40px rgba(9, 44, 76, 0.02);
@shadow1Dark: 0px 5px 40px rgba(255, 255, 255, 0.1);
@redColor: #ff4d4f;
@yellowColor: #FCA714;